<nav class="navbar sticky-top navbar-dark navbar-expand-lg" id="navBar">
    <div class="container-fluid">
      <img src="assets/image/logo.jpg" height="60px" width="80px" alt="Logo">
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item mx-2">
            <a class="nav-link active" aria-current="page" href="#">CRAZY WORLD</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link active" aria-current="page" routerLink="cards">Cards</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link active" aria-current="page" routerLink="sign-up">Sign Up</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link active" aria-current="page" routerLink="sign-in">Sign In</a>
          </li>
        </ul>
  
        <form class="d-flex align-items-center">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <i class="material-icons text-light" (click)="gotoAdminProfile()" style="cursor: pointer;">admin</i>
        </form>
      </div>
    </div>
  </nav>
  