<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h1>Welcome to Our World Explorer!</h1>
      <p class="lead">Discover fascinating information about countries around the world.</p>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search for countries...">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">Search</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-6">
      <h2>Crazy World</h2>
      <p>Journey through Crazy World's incredible diversity of 266 unique global entities. It's your ultimate hub of
        knowledge, offering a captivating glimpse into the rich history, diverse cultures, and multifaceted aspects of
        nations worldwide.</p>
    </div>
    <div class="col-md-6">
      <img src="assets/image/map.jpg" alt="World Map" class="img-fluid rounded" style="height: 300px;">
    </div>
  </div>
</div>
<br>
<br>
 <!-- Bootstrap Carousel -->
 <div id="carouselExampleIndicators" class="carousel slide mb-2 container" data-ride="carousel">
   
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 cro" style="height: 450px;"
        src="assets/image/Corousel1.jpg"
        alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 cro" style="height: 450px;"
      src="assets/image/Corousel2.jpg"
        alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 cro" style="height: 450px;"
      src="assets/image/Corousel3.jpg"
        alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>




<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/image/Countrylangdynamics.jpg" alt="World Map" class="img-fluid rounded" style="height: 300px;">
    </div>
    <div class="col-md-6">
      <h2><a routerLink="country-language">Exploring Language Dynamics</a></h2>
      <p>Crazy World offers a comprehensive exploration of languages, from their nuances in communication to their
        influence on societal structures. It delves into the linguistic intricacies, exploring dialects, scripts, and the
        evolution of languages across different territories.</p>
    </div>
  </div>
</div>
<br>
<br>



 