/* .card-text{
    border-right: 2px solid black;
}

.section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
} */

 /* Custom CSS styles */
 .container {
    text-align: center;
  }
 
  .input-group {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
 
  .btn-primary {
    border-radius: 0 5px 5px 0;
  }
 
  .list-group-item {
    background-color: #f8f9fa;
    border: none;
  }
 