
<div class="mt-5">
    <div class="text-danger small">
      {{ errorMessage }}
  </div>
    <h3>Max Spoken Language by Code</h3>
    <div class="form-group">
      <label for="maxSpokenCountryCodeInput">Enter Country Code:</label>
      <input type="text" class="form-control" id="maxSpokenCountryCodeInput" [(ngModel)]="maxSpokenCountryCode" />
    </div>
    <button class="btn btn-primary" (click)="getMaxSpokenLanguageByCode()">Get Max Spoken Language</button>
    <div *ngIf="maxSpokenLanguage">
      <p>{{ maxSpokenLanguage.language }}</p>
    </div>
  </div>