<!-- <div class="mt-5">
  <h3>Update Percentage</h3>
  <form>
    <div class="form-group">
      <label for="updateCountryCodeInput">Country Code:</label>
      <input type="text" class="form-control" id="updateCountryCodeInput" [(ngModel)]="updateCountryCode" />
    </div>

    <div class="form-group">
      <label for="updateLanguageInput">Language:</label>
      <input type="text" class="form-control" id="updateLanguageInput" [(ngModel)]="updateLanguage" />
    </div>

    <div class="form-group">
      <label for="updatePercentageInput">Percentage:</label>
      <input type="number" class="form-control" id="updatePercentageInput" [(ngModel)]="updatePercentage" />
    </div>

    <button class="btn btn-primary" (click)="updatePercentage()">Update Percentage</button>
  </form>
</div> -->
