
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="display-3">Terms of Use</h1>
      </div>
    </div>
  
    <div class="row mt-5">
      <div class="col-md-6">
        <h2 class="mb-4">Our Commitment to Users</h2>
        <p class="lead">At Crazy World, we are committed to providing a safe and enjoyable experience for all users. By using our services, you agree to abide by the following terms of use.</p>
      </div>
  
      <div class="col-md-6">
        <img src="/assets/image/t1.jpg" alt="Terms of Use Image" class="img-fluid rounded">
      </div>
    </div>
  
    <div class="row mt-5">
      <div class="col-md-6 order-md-2">
        <h2 class="mb-4">User Responsibilities</h2>
        <p class="lead">Users are expected to adhere to the community guidelines and policies outlined in our terms of use. This includes respecting the rights of others and refraining from engaging in any activities that may violate these terms.</p>
      </div>
  
      <div class="col-md-6 order-md-1">
        <img src="/assets/image/t2.jpg" alt="User Responsibilities Image" class="img-fluid rounded">
      </div>
    </div>
  
    <div class="row mt-5">
      <div class="col-md-6">
        <h2 class="mb-4">Terms and Conditions</h2>
        <p class="lead">Please carefully read and understand our terms and conditions before using our services. These terms outline the rights and responsibilities of both users and Crazy World.</p>
      </div>
  
      <div class="col-md-6">
        <img src="/assets/image/t3.jpg" alt="Terms and Conditions Image" class="img-fluid rounded">
      </div>
    </div>
  </div>
  