<!-- world-facts.component.html -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 left-side bg-light text-dark p-4">
      <h2>World Facts</h2>
      <nav class="nav flex-column">
        <a class="nav-link" routerLink="/facts/populated-countries">Top 10 Populated Countries</a>
        <a class="nav-link" routerLink="/facts/highest-life-expectancy">Highest Life Expectancy</a>
        <a class="nav-link" routerLink="/facts/unique-government-forms">Countries with Unique Government Forms</a>
        <a class="nav-link" routerLink="/facts/top-ten-gnp-countries">Top Ten GNP Countries</a>
        <a class="nav-link" routerLink="/facts/maxpopulatedcity">Max Populated City</a>
        <a class="nav-link" routerLink="/facts/toptenpopulatedcities">Top Ten Populated Cities</a>
        <a class="nav-link" routerLink="/facts/countryCode">Districts By Code</a>
        <a class="nav-link" routerLink="/facts/district-avg-population">District Average Population</a>
        <a class="nav-link" routerLink="/facts/citycount">City Count For Country</a>
      </nav>
    </div>
    <div class="col-md-9 separator p-4">
      <p *ngIf="worldFactsParagraph" class="lead">{{ worldFactsParagraph }}</p>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
